.testimoniesContainer {
  display: flex;
  gap: 40px;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.testimonyImage {
  max-width: 30%;

  img {
    border-radius: 160px 410px 220px 110px;
  }
}

.testimonyInfo {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.testimonyName {
  font-size: 18px;
  font-weight: 300;
  color: #b0b0b0;
}

.starsBox {
  display: flex;
  gap: 12px;

  img {
    width: 36px;
  }
}
